{% extends "base.html" %}

{% block content %}
<!-- Filter Bar -->
<div class="filter-bar">
    <div class="row align-items-center">
        <div class="col-md-6">
            <p class="mb-0">Number of titles: {{ books|length }}</p>
        </div>
        <div class="col-md-6">
            <form method="GET" class="row g-2 align-items-center justify-content-end">
                <div class="col-auto">
                    <label for="category" class="col-form-label">Category:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="category" name="category">
                        <option value="">All</option>
                        <option value="Children" {% if category=='Children' %}selected{% endif %}>Children</option>
                        <option value="Teens" {% if category=='Teens' %}selected{% endif %}>Teens</option>
                        <option value="Adult" {% if category=='Adult' %}selected{% endif %}>Adult</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-search">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- List of books -->
    {% for book in books %}
    <div class="card mb-3 book-card">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{{ book.url }}" class="img-fluid rounded-start book-image" alt="{{ book.title }}">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title book-title">{{ book.title }}</h5>
                    <p class="card-text book-author">By {{ book.authors | join(', ') }}</p>
                    <p class="card-text book-meta">Category: {{ book.category | join(', ') }}</p>
                    <p class="card-text book-meta">Pages: {{ book.pages }}</p>
                    <p class="card-text book-description">
                        {{ book.description[0] }}
                        {% if book.description|length > 2 %}
                        <br><br>{{ book.description[-1] }}
                        <br><a href="{{ url_for('book_details', book_id=loop.index0) }}" class="more-details-link">More details</a>
                        {% elif book.description|length == 2 %}
                        <br><br>{{ book.description[-1] }}
                        <br><a href="{{ url_for('book_details', book_id=loop.index0) }}" class="more-details-link">More details</a>
                        {% elif book.description|length > 1 %}
                        ... <a href="{{ url_for('book_details', book_id=loop.index0) }}" class="more-details-link">More details</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}